<div class="buttons">
  <input type=button value="Edit" class="js-edit-button view" />
  <input type=button value="Cancel" class="js-cancel-button edit" />
</div>
<div class="full-name">
  <span class="view first-name">{{firstName}}</span>
  <span class="view last-name">{{lastName}}</span>
</div>
<div class="twitter-holder">
  <span class="view twitter">{{twitter}}</span>
</div>
